### 3W compression notebook

This notebook transforms the 3W dataset into a compressed version. The time series is down-sampled from entries everry second to ten seconds, by a locaal averrageg over this period. Aditionally, features P-CKGL and T-CKGL are removed from the dataset since they only appear in real instances.

In [35]:
import pandas as pd
import numpy as np
from pathlib import Path

In [36]:
data_path = Path('data')

In [37]:
def class_and_file_generator(data_path, real=False, simulated=False, drawn=False):
    for class_path in data_path.iterdir():
        if class_path.is_dir():
            class_code = int(class_path.stem)
            for instance_path in class_path.iterdir():
                if (instance_path.suffix == '.csv'):
                    if (simulated and instance_path.stem.startswith('SIMULATED')) or \
                       (drawn and instance_path.stem.startswith('DRAWN')) or \
                       (real and (not instance_path.stem.startswith('SIMULATED')) and \
                       (not instance_path.stem.startswith('DRAWN'))):
                        yield class_code, instance_path

In [38]:
real_instances = list(class_and_file_generator(data_path, real=True, simulated=False, drawn=False))
simulated_instances = list(class_and_file_generator(data_path, real=False, simulated=True, drawn=False))
drawn_instances = list(class_and_file_generator(data_path, real=False, simulated=False, drawn=True))

In [39]:
instances = real_instances + simulated_instances

In [41]:
import os

def create_dir_tree(root_dir):
    os.mkdir(root_dir)
    for i in range(0, 9):
        path = os.path.join(root_dir, str(i))
        os.mkdir(path)


data_root_dir = "data_transient_downsampled"

#create_dir_tree(data_root_dir)
clset = {-1}
clset.add
for c, p in instances:
    df = pd.read_csv(p)
    #df['timestamp'] = pd.to_datetime(df['timestamp'])  #down-sampling
    #df = df.resample('10s', on='timestamp', ).mean()
    #df.drop('P-JUS-CKGL', inplace=True, axis=1)        #removing P-CKGL and T-CKGL attributes
    #df.drop('T-JUS-CKGL', inplace=True, axis=1)
    
    clset.update([*df['class'].unique()])
    #path = os.path.join(data_root_dir, str(p)[5:])
    #df.to_csv(path)
print(clset)

{0.0, nan, nan, 3, nan, 5.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 8.0, 7.0, nan, nan, nan, nan, 4, nan, nan, nan, 6.0, nan, nan, nan, nan, nan, nan, 1.0, nan, nan, nan, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 101.0, 102.0, 105.0, 106.0, 107.0, 108.0, nan, -1}

QGL svugdje NA za simulirane evente!
ne postoje klase 103, 104, odnosno tranzijentni periodi??

df.isna().sum(axis=0)

In [16]:
df.head()

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,QGL,class
timestamp,,,,,,,
2018-05-13 07:34:40,28766210.0,2.050073e+07,125.862543,4063385.0,98.329600,NaN,0.0
2018-05-13 07:34:50,28766195.0,2.050074e+07,125.862550,4063385.0,98.329567,NaN,0.0
2018-05-13 07:35:00,28766195.0,2.050074e+07,125.862550,4063385.0,98.329530,NaN,0.0
2018-05-13 07:35:10,28766195.0,2.050074e+07,125.862550,4063385.0,98.329494,NaN,0.0
2018-05-13 07:35:20,28766195.0,2.050074e+07,125.862550,4063385.0,98.329457,NaN,0.0

In [25]:
import tsfresh as tf

df_imputed = tf.utilities.dataframe_functions.impute(df.loc[:, df.columns != 'class'])

/home/marko/miniconda3/lib/python3.8/site-packages/tsfresh/utilities/dataframe_functions.py:171: RuntimeWarning: The columns ['QGL'] did not have any finite values. Filling with zeros.
  warnings.warn("The columns {} did not have any finite values. Filling with zeros.".format(
/home/marko/.local/lib/python3.8/site-packages/pandas/core/generic.py:9032: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._where(cond, other, inplace, axis, level, errors=errors)

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,QGL
timestamp,,,,,,
2018-05-13 07:34:40,28766210.0,2.050073e+07,125.862543,4063385.0,98.329600,0.0
2018-05-13 07:34:50,28766195.0,2.050074e+07,125.862550,4063385.0,98.329567,0.0
2018-05-13 07:35:00,28766195.0,2.050074e+07,125.862550,4063385.0,98.329530,0.0
2018-05-13 07:35:10,28766195.0,2.050074e+07,125.862550,4063385.0,98.329494,0.0
2018-05-13 07:35:20,28766195.0,2.050074e+07,125.862550,4063385.0,98.329457,0.0
...,...,...,...,...,...,...
2018-05-13 15:34:00,33689661.0,7.977187e+06,3.427143,4002607.8,31.241793,0.0
2018-05-13 15:34:10,33689659.0,7.977042e+06,3.427117,4002603.2,31.263274,0.0
2018-05-13 15:34:20,33689658.0,7.978292e+06,3.427058,4002548.1,31.201267,0.0
2018-05-13 15:34:30,33689659.0,7.977801e+06,3.427035,4002695.3,31.271275,0.0
2018-05-13 15:34:40,33689665.0,7.977513e+06,3.427021,4002530.5,31.383075,0.0

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,QGL,class
timestamp,,,,,,,
2018-05-13 07:34:40,28766210.0,2.050073e+07,125.862543,4063385.0,98.329600,NaN,0.0
2018-05-13 07:34:50,28766195.0,2.050074e+07,125.862550,4063385.0,98.329567,NaN,0.0
2018-05-13 07:35:00,28766195.0,2.050074e+07,125.862550,4063385.0,98.329530,NaN,0.0
2018-05-13 07:35:10,28766195.0,2.050074e+07,125.862550,4063385.0,98.329494,NaN,0.0
2018-05-13 07:35:20,28766195.0,2.050074e+07,125.862550,4063385.0,98.329457,NaN,0.0
...,...,...,...,...,...,...,...
2018-05-13 15:34:00,33689661.0,7.977187e+06,3.427143,4002607.8,31.241793,NaN,2.0
2018-05-13 15:34:10,33689659.0,7.977042e+06,3.427117,4002603.2,31.263274,NaN,2.0
2018-05-13 15:34:20,33689658.0,7.978292e+06,3.427058,4002548.1,31.201267,NaN,2.0
2018-05-13 15:34:30,33689659.0,7.977801e+06,3.427035,4002695.3,31.271275,NaN,2.0
2018-05-13 15:34:40,33689665.0,7.977513e+06,3.427021,4002530.5,31.383075,NaN,2.0